/* style.css */

/* Настройки для цветов навигационной панели */
.navbar-green {
  background-color: #28a745; /* Зеленый цвет фона */
  color: #ffffff; /* Белый цвет шрифта */
}

/* Настройки для цвета активной ссылки */
.navbar-green .nav-link.active {
  color: #ffffff; /* Белый цвет шрифта для активной ссылки */
}
.pastel-green-background {
  color: #80c38f; /* Замените этот цвет на пастельно зеленый, который вам нравится */
}



.card-img-container {
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    width: 80%;
    height: 80%;
}
