{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header" style="background-color: #C1FFC1;">
            <h3>Информация о студенте</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong class="text-success">Имя:</strong> {{ user.first_name }}</p>
                    <p><strong class="text-success">Фамилия:</strong> {{ user.last_name }}</p>
                    <p><strong class="text-success">Класс:</strong> {{ pupil.grade_class.class_number }} класс</p>
                    <p><strong class="text-success">Почта:</strong> {{ user.email }}</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ user.photo.url }}" alt="{{ user.first_name }}" style="max-width: 500px;">
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" style="background-color: #C1FFC1;">
            <h3>Общая успеваемость по предметам</h3>
        </div>
        <div class="card-body table-responsive table-responsive-sm" style="min-width: 500px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Общая успеваемость</th>
                    </tr>
                </thead>
                <tbody>
                    {% for achievement in grade_achievements %}
                    <tr>
                        <td>{{ achievement.subject.name }}</td>
                        <td>{{ achievement.total_grade }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
