<!DOCTYPE html>
<html>
<head>
    <title>Список студентов</title>
</head>
<body>
    <h1>Список студентов</h1>
    <table>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Курсы</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>
                {% for course in student.courses.all %}
                {{ course.title }}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
