{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Топики по предмету "{{ subject.name }}"</h2>
    <div class="row">
        {% for topic in topics %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ topic.name }}</h5>
                    <p class="card-text">{{ topic.description }}</p>
                    <a href="{% url 'pupil_cabinet' %}" class="btn btn-primary">Перейти к личному кабинету</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
